body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #fde8bd;
}

h1 {
  color: #333;
  font-family: quest;
}

.question {
  margin-bottom: 20px;
}

#resultado {
  margin-top: 20px;
  font-weight: bold;
  color: green;
}
@font-face {
  font-family: quest;
  src: url(Special_Elite.zip/sans-serif);
}
